* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "josefin Sans";
  /** outline: 1px solid red;*/
}

:root {
  --primary: #0000;
}
a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  width: 70%;
  margin: auto;
}
/*header start*/
.header {
  position: sticky;
  top: 0;
  background-color: rgba(247, 244, 244, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 50;
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  flex-wrap: wrap;
}
.list ul {
  display: flex;
  gap: 35px;
  align-items: center;
}
.list ul li a {
  color: black;
}
.list a.active {
  color: #fb2e86;
}
.list i {
  font-size: 10px;
  margin-left: 5px;
  color: #fb2e86;
}

ul {
  list-style-type: none;
}

.inputSearch form {
  display: flex;
  border: 1px solid #e7e6ef;
}
.inputSearch input {
  border: 0;

  padding: 8px 10px;
}
.inputSearch .btn {
  border: 0;
  padding: 8px;

  background-color: #fb2e86;
}

.header .menu {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 680px) {
  .header .menu {
    display: block;
  }
  .inputSearch form,
  .list {
    display: none;
  }
}
@media screen and (max-width: 1090px) {
  .header .menu {
    display: block;
  }
  .inputSearch form {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .list ul {
    gap: 20px;
  }
}

/*header end*/
/*hekto section start*/

.hekto {
  background-color: #f2f0ff;
  padding: 20px 0;
}
.hekto p {
  color: #8a8fb9;
  line-height: 24px;
}
.hekto .row {
  flex-wrap: nowrap;
}
.hekto .leftSideHekto .para1 {
  color: #fb2e86;
}
.hekto .leftSideHekto h2 {
  font-size: 50px;
  font-weight: 370;
  line-height: 75px;
}
.hekto .rightSideHekto .sofaImg {
  max-width: 100%;
  height: auto;
}
@media (max-width: 890px) {
  .hekto .row {
    flex-wrap: wrap;
  }
}
@media (max-width: 760px) {
  .hekto .row {
    flex-wrap: wrap;
  }
  .hekto .leftSideHekto h2 {
    font-size: 35px;
    font-weight: 270px;
    line-height: 1.3;
  }

  .hekto .leftSideHekto h2,
  .hekto p {
    text-align: center;
  }
  .leftSideHekto {
    display: flex;
    flex-direction: column;
  }

  .leftSideHekto .btnshop {
    justify-content: center;
    padding: 6px 10px;
    align-self: center;
  }
}
/*hekto section end*/
/*start Featured Products */
.featured {
  padding: 80px 0;
}
.featured .row {
  gap: 29px;
  align-items: stretch;
}
.title {
  text-align: center;
  color: #1a0b5b;
  font-size: 250%;
  padding: 20px 0;
}
.ProductCard {
  width: calc((100% - 87px) / 4);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  position: relative;
}
.ProductImg {
  background-color: #f6f7fb;
  padding: 20px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ProductImg img {
  max-height: 100%;
  max-width: 100%;
}
.ProductImg .icons {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 10px;
}
.icons i {
  font-size: 14px;
  color: #151875;
  cursor: pointer;
  display: none;
}
.viewBtn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #08d15f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 13px;
  cursor: pointer;
  display: none;
  border-radius: 5px;
}

.ProductInfo {
  text-align: center;
  padding: 20px 10px;
}
.ProductCard .ProductInfo h3 {
  color: #fb2e86;
  margin-bottom: 10px;
  font-size: 16px;
}
.ProductCard .ProductInfo p,
.ProductCard .ProductInfo span {
  color: #151875;
  font-size: 14px;
}
.Rectangles {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 10px;
}

.Rectangles span {
  width: 14px;
  height: 4px;
  border-radius: 2px;
  background-color: #05e6b7;
}

.Rectangles span:nth-child(2) {
  background-color: #f701a8;
}

.Rectangles span:nth-child(3) {
  background-color: #00009d;
}

.ProductCard:hover {
  background-color: #2f1ac4;
}
.featured .ProductCard:hover .ProductInfo span,
.featured .ProductCard:hover .ProductInfo h3,
.featured .ProductCard:hover .ProductInfo p {
  color: #fff;
}
.featured .ProductCard:hover .ProductImg .icons i {
  display: block;
}
.ProductCard:hover .Rectangles span:nth-child(3) {
  background-color: #ffeac1;
}
.ProductCard:hover .ProductImg .viewBtn {
  display: block;
}

@media (max-width: 992px) {
  .ProductCard {
    width: calc((100% - 29px) / 2);
  }
}

@media (max-width: 576px) {
  .ProductCard {
    width: 100%;
  }
}
/*end Featured Products*/
/*Leatest Products start*/
.LeatestProducts .listLeatestProducts ul {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.listLeatestProducts ul li:hover a {
  color: #f701a8;
  text-decoration: underline;
}
.LeatestProducts .row {
  gap: 30px;
}
.ProductItem {
  width: calc((100% - 60px) / 3);
  position: relative;
  background-color: #fff;
  padding: 30px 20px;
  text-align: center;
}
.ProductItem img {
  max-width: 100%;
  height: auto;
  width: 223px;
  height: 229px;
      background-color: #F7F7F7;
}
     
      
.productDetailes p {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.productDetailes p,
span {
  color: #151875;
}

.productDetailes .priceDel {
  color: red;
}
.price .priceDel {
  padding: 0 5px;
}

.ProductItem .icons {
  position: absolute;
  top: 30%;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ProductItem .icons i {
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  color: #151875;
  cursor: pointer;
  display: none;
}
.ProductItem:hover .icons i {
  display: block;
}
.sale {
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: #3f2df1;
  color: #fff;
  font-size: 12px;
  padding: 5px 14px;
  transform: rotate(-20deg);
  display: none;
}
.ProductItem:hover .sale {
  display: block;
}
@media (max-width: 992px) {
  .ProductItem {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 576px) {
  .ProductItem {
    width: 100%;
  }
}
/*Leatest Products end*/
/*What Shopex Offer! start*/
.WhatShopexOffer{
  padding:70px  0;
}
.WhatShopexOffer .row{
  gap: 20px;
}
.WSOItem{
    width: calc((100% - 60px) / 4);
    padding: 20px 0;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

}
.WSOImg{
  text-align: center;
  padding: 20px;
}
.WSOInfo{
  text-align: center;
}
.WSOInfo h3{
  color: #151875;
  padding: 10px 0;
}
.WSOInfo p{
  
  color: #8a8fb9;
 
}
@media screen and (max-width:800px) {
.WSOItem{
    width: calc((100% - 20px) / 2);
    

}
  
}
@media screen and (max-width:450px) {
.WSOItem{
    width: 100%;
    

}
  
}
/*What Shopex Offer! end*/
/*Trending Products start*/
.TrendingProducts{
  padding: 70px 0;

}
.TrendingProducts .row{
    gap: 20px;

}
.TrendingProductsItem{
   width: calc((100% - 60px) / 4);
  padding: 20px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
background-color: #ffffff;
}

.TrendingProductsItemInfo{
  text-align: center;
  
}
.TrendingProductsItemInfo h3{
  color: #151875;
  padding: 10px 0;
}
.TrendingProductsItemInfo del{
  color: #B9BAD6;
  padding: 0 10px;
}
.TrendingProductsItemImg{
  background-color: #F5F6F8;
  text-align: center;
}
.TrendingProductsItemImg img{
  width: 187px;
  height: 187px;
}
@media screen and (max-width:800px) {
.TrendingProductsItem{
    width: calc((100% - 20px) / 2);
    

}
  
}
@media screen and (max-width:470px) {
.TrendingProductsItem{
    width: 100%;
    

}
  
}

/*Trending Products end*/
/*Top Categories start*/
.TopCategories {
  padding: 70px 0;
}
.TopCategories .row {
  gap: 20px;
}

.TopCategoriesItem  {
  width: calc((100% - 60px) / 4);
  padding: 20px 0;
}
.TopCategoriesItem p {
  color: #151875;
  padding-top: 20px;
}
.TopCategoriesItem p,
.TopCategoriesItem span {
  text-align: center;
  display: block;
}
.information {
  display: flex;
  flex-direction: column;

  gap: 4px;
}
.TopCategoriesImg {
  text-align: center;

  background-color: #f6f7fb;
  border-radius: 50%;
  padding: 40px;
  position: relative;
}
.TopCategoriesImg img {
  width: 178px;
  height: 178px;
}
.TopCategoriesItem:hover .viewBtn {
  z-index: 5px;
  display: block;
}
.TopCategoriesImg:hover{
  box-shadow: -12px 4px 0 0 #9574e5, 0 0 40px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:800px) {
  .TopCategoriesItem  {
  width: calc((100% - 20px) / 2);
}
}
@media screen and (max-width:450px) {
  .TopCategoriesItem  {
  width: 100%
}
}
/*Top Categories end*/
/*background section start*/
.backgroundSection {
  background-image: url("../images/background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 140px 0;
}
.backgroundSection .content {
  text-align: center;
  color: #151875;
   max-width: 500px;
  margin: auto;
}
.backgroundSection .content h2 {
  margin: auto;

  max-width: 360px;
  line-height: 1.8;
  padding: 20px;
}
.btnshop {
  background-color: #fb2e86;
  padding: 12px 30px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  word-spacing: 5px;
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .backgroundSection {
    padding: 80px 0;
    background-size: cover;
  }

  .backgroundSection .content h2 {
    font-size: 22px;
    padding: 10px;
  }

  .btnshop {
    padding: 10px 24px;
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .backgroundSection {
    padding: 50px 0;
  }

  .backgroundSection .content h2 {
    font-size: 18px;
    line-height: 1.4;
  }

  .btnshop {
    padding: 8px 18px;
    font-size: 12px;
  }
}







/*background section end*/
/*Leatest Blog start*/
.LeatestBlog{
  padding: 70px 0;

}
.LeatestBlog .row{
  gap: 20px;
}
.LeatestBlogItem{
  width: calc((100% - 40px) / 3);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);


}


.LeatestBlogImg img {
  display: block;
  width: 100%;
  border-radius: 9px;
}
.LeatestBlogDetails{
  padding: 10px 0;
}
.LeatestBlogDetails span {
  padding-right: 30px;
}
.LeatestBlogDetails span  .pen {
  color: #FB2E86;
  padding: 0 5px;
}
.LeatestBlogDetails span .calendar{
  color: #FFA454;
  padding: 0 5px;
}
.LeatestBlogInfo h3 ,p , a{
  padding: 10px 0;
}
.LeatestBlogInfo h3 ,p ,a{
    color: #151875

}
.LeatestBlogInfo{
    padding: 20px 20px;

}
.LeatestBlogInfo a{
  text-decoration: underline;
}
.LeatestBlogItem:hover p{
  color: #8a8fb9;
}
.LeatestBlogItem:hover  a ,
.LeatestBlogItem:hover  h3
{
  color: #FB2E86;
}

@media screen and (max-width:800px) {
  .LeatestBlogItem  {
  width: calc((100% - 20px) / 2);
}
}
@media screen and (max-width:450px) {
  .LeatestBlogItem {
  width: 100%
}
}
/*Leatest Blog end*/

/*start footer*/
.footer {
  background-color: #eeeffb;
  padding: 80px 0;
  font-size: 14px;
}

.footer .row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}


.footer .leftSide {
  width: 35%;
}

.footer .logo {
  margin-bottom: 25px;
}

.footer .leftSide p {
  color: #8a8fb9;
  line-height: 1.6;
}

.footer .leftForm {
  display: flex;
  margin-bottom: 20px;
  width: fit-content;
}
.footer .leftForm{
  width: fit-content;
}
.footer .leftForm input {
  
  padding: 10px;
  border: none;
  width: 65%;
}

.footer .btnSignUp {
  width: 115px;
  background-color: #fb2e86;
  color: #fff;
  border: none;
  padding: 0 30px;
  cursor: pointer;
  border-radius: 4px;
}

.footer .rightSide {
  width: 60%;
}


.footer h2 {
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer a {
  color: #8a8fb9;
  font-size: 14px;
}

@media (max-width: 900px) {
  .footer .row {
    flex-direction: column;
  }

  .footer .leftSide,
  .footer .rightSide {
    width: 100%;
  }

  .footer .rightSide .row {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 50px 0;
  }

  .footer .rightSide .row {
    flex-direction: column;
  }

  .footer .leftForm {
    flex-direction: column;
  }

  .footer .leftForm input,
  .footer .btnSignUp {
    width: 100%;
  }

  .footer .btnSignUp {
    padding: 10px;
    margin-top: 10px;
  }
}

/*end footer*/


