*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#0000;
}
.container{
    width: 80%;
    margin: auto;
    max-width: 1400px;
}


.header .container{
      display: flex;
justify-content: space-between;
padding: 50px 0;
align-items: center;
}
.list ul{
    display: flex;
    gap: 35px;
      align-items: center;

}
.list ul li a {
    text-decoration: none;
    color: black;
}
.list a.active {
  color: #FB2E86;
}
.list i {
  font-size: 10px;
  margin-left: 5px;
  color: #FB2E86;
}

ul{
    list-style-type: none;
}
.inputSearch form{
    display: flex;
    border: 1px solid #E7E6EF ;

}
.inputSearch input{
      border: 0;
        outline: none;
  padding: 8px 10px;

}
.inputSearch .btn{
border: 0;
    padding: 8px;
     outline: none;

    background-color: #FB2E86;

}